@font-face {
        font-family: 'Clear Sans';
        src: url('/fonts/EOT/ClearSans-Regular.eot');
        src: url('/fonts/EOT/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
             url('/fonts/WOFF/ClearSans-Regular.woff') format('woff'),
             url('/fonts/TTF/ClearSans-Regular.ttf') format('truetype'),
             url('/fonts/SVG/ClearSans-Regular.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}

H1 {
	background-color: white;
	font-size: 40px;
	font-family: Clear Sans;
	color: #666666;
	text-align: center;
}

body {
	background-color: white;
	font-family: Clear Sans;
	font-size: 20px;
	width: 60%;
	margin: auto;
	text-align: center;
	color: #666666;
}

#time {
	text-align: center;
	font-family: Clear Sans;
	color: #666666;
	font-size: 1em;
	padding-top: 1em;
}

div.books {
	text-align: center;
	font-family: Clear Sans;
	font-size: 12pt;
	margin: auto;
	margin-top: 20px;
	width: 30%
}

a:link {
	text-decoration: none;
	color: gray;
}

a:hover {
	text-decoration: none;
	color: #AAAAAA;
}
